.main {
  align-items: center;
  margin: 0 30px;
}

.main, .form {
  display: flex;
  flex-direction: column;
}

.header, .form, .login, .login button {
  width: 100%;
}

.header, .form input, .login button {
  font-size: 16px;
}

.header {
  text-align: center;
  margin: 50px auto 25px auto;
}

.form, .login {
  margin-bottom: 20px;
}


.main a {
  font-size: 14px;
  color: #98999e;
}

.main a:hover {
  color: #b4b4b4;
}

.main a:visited {
  color: #98999e;
}


/*    Form    */

.form input {
  height: 50px;
  border: 1px solid #ececed;
  padding: 0 1em;
  color: #98999e;
}

.form input:first-child {
  border-radius: 3px 3px 0 0;
}

.form input:last-child {
  border-radius: 0 0 3px 3px;
}

.form input::placeholder {
  color: #c8c9cf;
}


/*   Login Button    */

.login button {
  background-color: #9b9a9b;
  color: #f7f7f8;
  height: 50px;
  border: none;
  border-radius: 3px;
  padding: 0;
  text-transform: uppercase;
}

.login button:hover {
  background-color: #b4b4b4;
  cursor: pointer;
}
